---
language: ruby
bundler_args: --without development
script: "bundle exec rake validate && bundle exec rake lint && bundle exec rake spec SPEC_OPTS='--format documentation'"
after_success:
  ["git clone -q git://github.com/puppetlabs/ghpublisher.git .forge-releng", ".forge-releng/publish"]
env:
  global:
    - PUBLISHER_LOGIN=camptocamp
    - secure: "DRCxF7vpgZUChYEMgIak/7FoM9zitsD6fP1bTpT2MbBViBK+Eic05ePayroWzI/vDNkqIjet1pzoA0XVlEtVfkuhCGXVOJJ1nXH7fMezcdxRgnzxUK0cj8CZLQbFxJX0THn0BUf75fncMfySTNZ/K+Ln6Rzdfra3vVbk5suoSSA="
matrix:
  fast_finish: true
  include:
  - rvm: 1.8.7
    env: PUPPET_GEM_VERSION="~> 2.7"
  - rvm: 1.8.7
    env: PUPPET_GEM_VERSION="~> 3.0"
  - rvm: 1.9.3
    env: PUPPET_GEM_VERSION="~> 3.0"
  - rvm: 2.0.0
    env: PUPPET_GEM_VERSION="~> 3.0"
notifications:
  email: false
